* {
    box-sizing: border-box;
}

body {
    background-color: #b7b7b7;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px #ffffff;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2), -3px -3px 10px rgba(255,255,255,1);
}

.fill {
    background-image: url("https://source.unsplash.com/random/150x150");
    height: 145px;
    width: 145px;
    cursor: pointer;
    border-radius: 10px;
}

.hold {
    border: solid 2px #ccc;
}

.hovered {
    background-color: #fff;
    border: none;
    box-shadow: 10px 10px 50px #fff, -10px -10px 50px #fff, -10px 10px 50px #fff, 10px -10px 50px #fff;
}